{% extends 'app/dummy.html' %}


{% block title %}
    <title>Create page</title>
{% endblock %}

        
{% block body_block %}

{% if form.instance %}
    
    <h1>Update School Data</h1>.
{% else %}
    <h1>Create School Data</h1>
{% endif %}

    <form method="POST">
        {% csrf_token %}
        
        {{form.as_p}}


        {% if form.instance %}
            <input type="submit" value="Update">
        {% else %}
            <input type="submit" value="Create">
        {% endif %}
        
    </form>

    
{% endblock %}